In [ ]:
import pandas as pd
import plotly.express as px

# Others

In [ ]:
gas = pd.read_csv("data/gas_data.csv")
gas.tail()

In [ ]:
gas.loc[gas.index[-1]]

In [ ]:
def get_current_price(df, state):
    price = df.loc[df.index[-1], state]
    return price

In [ ]:
get_current_price(gas, 'Abia')

In [ ]:
a = gas.loc[gas.index[-1]]
a.iloc[1:].sort_values()

In [ ]:
a_ =  a.iloc[1:].astype('float')
b = str(a_.min())
max_ = a_.idxmin()
max_
b

s = '{} ({})'.format(max_, b)
s

In [ ]:
def get_current_price(df, state):
    price = df.loc[df.index[-1], state]
    return price
def get_lowest_price(df):
    prices = df.loc[df.index[-1]]
    prices = prices.iloc[1:].astype('float')
    max_state = prices.idxmin()
    return max_state
def get_highest_price(df):
    prices = df.loc[df.index[-1]]
    prices = prices.iloc[1:].astype('float')
    min_state = prices.idxmax()
    return min_state

In [ ]:
get_lowest_price(gas)

In [ ]:
get_highest_price(gas)

In [ ]:
df= gas.loc[gas.index[-1]]
df = df.iloc[1:].sort_values()[-6:]

df = df.reset_index(name = 'Price')
# df['index']df
df

In [ ]:
df[:6]

In [ ]:
px.bar(df, y =df['index'], x = df['Price'], orientation = 'h')

In [ ]:
df = gas.tail(2)
df.head()

In [75]:
# MoM
df = gas.tail(2)
df.head()
state = 'Abuja'
df = df[['Date', state]]
df

          Date  Abuja
82  2022-11-01  975.0
83  2022-12-01  960.0

In [76]:
prev_month = df.iloc[0,1] #4549.14
current_month = df.iloc[1, 1] #4565.56
MoM = (current_month - prev_month) / prev_month
# MoM = (4565.56 - 4549.14) / 4549.14
# str(round(MoM*100, 2)) +  '%'
MoM = round(MoM * 100, 2)
'{}%'.format(MoM)

'-1.54%'

In [ ]:
def MoM(state):
    df = df[['Date', state]]
    prev_month = df.iloc[0,1] 
    current_month = df.iloc[1, 1] 
    MoM = (current_month - prev_month) / prev_month
    MoM = round(MoM * 100, 2)
    return '{}%'.format(MoM)

In [ ]:
df = gas.copy()
df["Date"] = pd.to_datetime(df["Date"], format="%Y/%m")
df["Month"] = df["Date"].dt.month
df["Year"] = df["Date"].dt.year
# a = df
# df = df[df.Month == 12]
# df = df.tail(2)
df

In [ ]:
latest = df.tail(1)
current_month = latest.Month.values[0]
current_month

In [ ]:
def YoY(state):
    df["Date"] = pd.to_datetime(df["Date"], format="%Y/%m")
    df["Month"] = df["Date"].dt.month
    df["Year"] = df["Date"].dt.year
    latest = df.tail(1)
    current_month = latest.Month.values[0]
    df = df[df.Month == current_month]
    df = df.tail(2)
    df = df[['Date', state]]
    prev_year = df.iloc[0,1] #4549.14
    current_year = df.iloc[1, 1] #4565.56
    YoY = (current_year - prev_year) / prev_year
    YoY = round(YoY * 100, 2)
    return '{}%'.format(YoY)

In [ ]:
state = 'Abuja'
df = df[['Date', state]]
prev_year = df.iloc[0,1] #4549.14
current_year = df.iloc[1, 1] #4565.56
YoY = (current_year - prev_year) / prev_year
# MoM = (4565.56 - 4549.14) / 4549.14
# str(round(MoM*100, 2)) +  '%'
YoY = round(YoY * 100, 2)
'{}%'.format(YoY)

In [ ]:
prev_year

In [ ]:
(960.0 - 730.0) / 730.0

# Food

In [62]:
import pandas as pd
food  = pd.read_csv("data/data.csv")
food.tail()

,Date,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),...,Maize grain yellow sold loose,"Palm oil: 1 bottle,specify bottle",Plantain(ripe),Plantain(unripe),"Vegetable oil:1 bottle,specify bottle",Wheat flour: prepacked (golden penny 2kg),State,Month,Year,Region
2731,2022-08-01,733.582059,73.318477,545.614821,517.231057,1610.311681,2141.175826,488.137371,454.065447,521.078533,...,306.963537,896.631792,334.915695,311.817411,1049.486519,1106.762336,NATIONAL,8,2022,NATIONAL
2732,2022-09-01,752.367811,75.068331,556.810370,543.152572,1651.195461,2199.374842,511.735746,477.576312,538.975716,...,305.222829,927.338724,345.897124,323.382753,1075.894334,1121.283249,NATIONAL,9,2022,NATIONAL
2733,2022-10-01,775.140314,77.644685,564.688435,547.394413,1696.576368,2266.240630,523.164903,482.466613,538.191552,...,307.618786,968.762614,357.201499,333.791441,1106.078195,1144.473949,NATIONAL,10,2022,NATIONAL
2734,2022-11-01,801.394906,80.953044,578.550730,557.669082,1757.439352,2337.459658,529.066053,492.013819,549.668526,...,317.697170,1006.637482,368.884223,340.777771,1142.989099,1189.744592,NATIONAL,11,2022,NATIONAL
2735,2022-12-01,825.077996,83.506469,586.139347,568.339312,1795.011495,2377.291098,537.890078,496.346915,560.703647,...,329.051610,1024.131452,376.239170,347.678573,1161.761182,1203.880034,NATIONAL,12,2022,NATIONAL

In [ ]:
abuja = food[food.State == "ABUJA"]['Agric eggs medium size']
# abuja = abuja['Agric eggs medium size']
abuja

In [ ]:
abuja.loc[abuja.index[-1]]

In [ ]:
food.State.unique()

In [ ]:
abuja = food[food.State == "ABUJA"]['Agric eggs medium size']

In [ ]:
def get_food_price(df, state, product):
    price = df[df.State == state][product]
    price = price.loc[price.index[-1]]
    return price

In [ ]:
get_food_price(food, "ABUJA", 'Agric eggs medium size')

In [ ]:
a = 'AKWA IBOM'
a = 
a = '_'.join(state.split(' '))
a in food.State.unique()

In [ ]:
food.head()

In [ ]:
# df = food
# gp = food.groupby(['State', 'Date'])['Agric eggs medium size'].max()
# gp
max_month = food.Month.max()
max_year = food.Year.max()
df = food.query("Month == @max_month and Year == @max_year")
gp = df.groupby(['State', 'Date'])['Agric eggs medium size'].max().reset_index().sort_values(by = 'Agric eggs medium size')
gp = gp.iloc[-1, :]
gp

In [ ]:
gp.State + str(gp['Agric eggs medium size'])

In [ ]:
# df = food
# gp = food.groupby(['State', 'Date'])['Agric eggs medium size'].max()
# gp
max_month = food.Month.max()
max_year = food.Year.max()
df = food.query("Month == @max_month and Year == @max_year")
gp = df.groupby(['State', 'Date'])['Agric eggs medium size'].max().reset_index().sort_values(by = 'Agric eggs medium size')
gp = gp.iloc[:6, :]
gp

In [ ]:
benue.isnull().sum()

In [ ]:
benue.Date.sort_values()

In [ ]:
benue["Date"] = pd.to_datetime(benue["Date"], format="%Y/%m")

In [ ]:
benue.info()

In [ ]:
benue = benue[benue.Year != 1900]
benue.Date.sort_values()

In [ ]:
states = ['BENUE', 'ABUJA', 'PLATEAU', 'NIGER']
states_df = food.query("State in @states")
states_df.head()

In [ ]:
import plotly.express as px
states_df = states_df[states_df.Year != 1900]
px.line(states_df, x = 'Date', y = 'Rice local sold loose', color = 'State')

In [ ]:
import plotly.graph_objects as go

In [ ]:
food.columns

In [ ]:
max_month = food.Month.max()
max_year = food.Year.max()
product = 'Tomato'
df = food.query("Month == @max_month and Year == @max_year")
df = df.groupby(['State', 'Date'])[product].max().reset_index().sort_values(by = product)
df = df.iloc[-6:, :]
# fig = px.bar(df, x =df['State'], y = df[product], title='Highest Five states', text = df[product])
df.drop('Date', axis = 1, inplace = True)

In [ ]:
df

In [ ]:
fig = go.Figure(data=[go.Table(
    header=dict(values=list(df.columns),
#                 fill_color='paleturquoise',
                fill_color = 'blue',
                align='left',
#                  text_color = 'white'
               ),
    cells=dict(values=[df.State, df[product]],
               fill_color='lavender',
               align='left',
                 
              ))
])

fig.show()

In [63]:
food.head()

,Date,Agric eggs medium size,Agric eggs(medium size price of one),"Beans brown,sold loose",Beans:white black eye. sold loose,Beef Bone in,"Beef,boneless",Bread sliced 500g,Bread unsliced 500g,Broken Rice (Ofada),...,Maize grain yellow sold loose,"Palm oil: 1 bottle,specify bottle",Plantain(ripe),Plantain(unripe),"Vegetable oil:1 bottle,specify bottle",Wheat flour: prepacked (golden penny 2kg),State,Month,Year,Region
0,2017-01-01,459.977222,45.107143,471.220000,420.764286,1107.670833,1378.395833,334.257857,291.791667,472.000,...,201.07,350.98,249.78,203.38,388.39,645.92,ABIA,1,2017,South_East
1,2017-02-01,485.809524,44.513575,436.720000,375.090498,955.094825,1304.717292,340.277778,289.166667,450.000,...,217.30,372.42,242.50,193.79,370.77,648.33,ABIA,2,2017,South_East
2,2017-03-01,519.565217,46.400000,415.625000,400.241546,981.257777,1129.160796,340.000000,286.363636,462.645,...,224.88,347.14,275.18,221.19,396.66,650.00,ABIA,3,2017,South_East
3,2017-04-01,520.608696,48.148148,394.144661,391.872428,969.967863,1362.469616,340.769231,304.166667,465.000,...,238.10,390.75,250.73,205.83,403.99,627.77,ABIA,4,2017,South_East
4,2017-05-01,559.655172,47.741935,474.193548,470.312500,996.492745,1499.913743,371.052632,275.000000,520.000,...,229.94,405.83,226.64,200.00,413.71,631.94,ABIA,5,2017,South_East

In [72]:
product = 'Agric eggs medium size'
state = 'ABUJA'
df = food.query("State == @state")[['Date', product, 'State']]
df = df.tail(2)
df

           Date  Agric eggs medium size  State
862  2022-11-01                  782.89  ABUJA
863  2022-12-01                  789.00  ABUJA

In [73]:
prev_month = df.iloc[0,1] #4549.14
current_month = df.iloc[1, 1] #4565.56
MoM = (current_month - prev_month) / prev_month
# MoM = (4565.56 - 4549.14) / 4549.14
# str(round(MoM*100, 2)) +  '%'
MoM = round(MoM * 100, 2)
'{}%'.format(MoM)

'0.78%'

In [74]:
(789.00 -782.89) / 782.89 * 100

0.7804416967901

In [89]:
product = 'Agric eggs medium size'
state = 'ABUJA'
df = food.query("State == @state")[['Date', product, 'Month']]
df.tail()

           Date  Agric eggs medium size  Month
859  2022-08-01                  768.00      8
860  2022-09-01                  770.50      9
861  2022-10-01                  780.00     10
862  2022-11-01                  782.89     11
863  2022-12-01                  789.00     12

In [90]:
latest = df.tail(1)
current_month = latest.Month.values[0]
df = df[df.Month == current_month]
df

           Date  Agric eggs medium size  Month
803  2017-12-01              408.571429     12
815  2018-12-01              498.000000     12
827  2019-12-01              459.730000     12
839  2020-12-01              564.444444     12
851  2021-12-01              700.681947     12
863  2022-12-01              789.000000     12

In [91]:
df = df[['Date', product]]
df = df.tail(2)
prev_year = df.iloc[0,1] #4549.14
current_year = df.iloc[1, 1] #4565.56
YoY = (current_year - prev_year) / prev_year
YoY = round(YoY * 100, 2)
prev_year

700.6819470739999

In [92]:
YoY

12.6

In [93]:
(789.000000	 -700.681947) / 700.681947 * 100

12.604585201336715

In [ ]:
def month_average(state, product):
    state = '_'.join(state.split(' '))
    df = food.query("State == @state")[['Date', product, 'State', 'Month']]
    gp = df.groupby(['Month'])[product].mean().reset_index()
    gp['Month'] = gp['Month'].apply(lambda x: calendar.month_abbr[x])
    fig = px.bar(gp, x = gp['Month'], y = gp[product])

In [105]:
product = 'Tomato'
state = 'ABUJA'
df = food.query("State == @state")[['Date', product, 'State', 'Month']]
df

           Date      Tomato  State  Month
792  2017-01-01  226.842000  ABUJA      1
793  2017-02-01  185.173333  ABUJA      2
794  2017-03-01  248.644343  ABUJA      3
795  2017-04-01  252.747112  ABUJA      4
796  2017-05-01  354.896059  ABUJA      5
..          ...         ...    ...    ...
859  2022-08-01  500.745599  ABUJA      8
860  2022-09-01  487.048666  ABUJA      9
861  2022-10-01  500.714986  ABUJA     10
862  2022-11-01  455.555556  ABUJA     11
863  2022-12-01  451.352146  ABUJA     12

[72 rows x 4 columns]

In [ ]:
gp = df.groupby(['Month'])[product].mean().reset_index()
gp

In [116]:
import calendar
gp['Month'] = gp['Month'].apply(lambda x: calendar.month_abbr[x])
gp

   Month      Tomato
0    Jan  282.895388
1    Feb  293.148608
2    Mar  307.044931
3    Apr  322.868068
4    May  338.934752
5    Jun  421.179680
6    Jul  438.607832
7    Aug  388.008779
8    Sep  335.733640
9    Oct  359.571590
10   Nov  327.882797
11   Dec  342.854621

In [118]:
# px.bar(gp, y = gp['Month'], x = gp[product], orientation = 'h')
px.bar(gp, x = gp['Month'], y = gp[product])